/* <system section="theme" selected="6653586347149180725"> */
@import "https://blog.hatena.ne.jp/-/theme/6653586347149180725.css";
/* </system> */

/* <system section="background" selected="f5f5f5"> */
body{background:#f5f5f5;}
/* </system> */




/*タイトル*/
.entry-title {
  font-weight: bold;
  font-size: 20px;
  position: relative;
  padding: .75em 1em;
  background-color: #f0f0f0;
}
.entry-title::before,
.entry-title::after {
  content: '';
  position: absolute;
  top: 100%;
  border-style: solid;
  border-color: transparent;
}
.entry-title::before {
  left: 0;
  border-width: 0 15px 15px 0;
  border-right-color: #ccc;
}
.entry-title::after {
  right: 0;
  border-style: solid;
  border-width: 15px 15px 0 0;
  border-top-color: #ccc;
}




/*箇条書き*/
.entry-content ol {
    color: #1e366a;
    border: dotted #1e366a 1px;/*ドット 色 太さ*/
    padding: 0.5em 0.5em 0.5em 2em;
}

.entry-content ol li {
    line-height: 1.5;
    padding: 0.5em 0;
}




/* h3設定 */
.entry-content h3{
    color: #494949;
    padding: 10px 15px;
    border-bottom: 3px dotted #7db4e6;
    }



/* h2設定 */
.entry-content h2 {
padding: 0.25em 0.5em;/*上下 左右の余白*/
color: #494949;/*文字色*/
background: transparent;/*背景透明に*/
border-left: solid 5px #7db4e6;/*左線*/
}




/* 関連記事 */
.ssImg{
    height: 80px;
    width: 80px;
    padding: 0;
}
.ssTitle{
    font-size: 90%;
}
.ssPanel{
    border-top: 1px solid rgb(228, 228, 228) !important;
    border-bottom: none !important;
    width: 49% !important;
    height: 100px !important;
    float: left !important;
    margin-right: 1% !important;
}
.ssLimitedContainerHeader > div > div > div{
     color: #ffffff ;
     background: #202f55;
     font-size: 16px ;
     padding: 10px 5px 10px 10px !important;
     margin-top: 15px;
}




/* 読者になるボタン */
/*共通の読者ボタンの設定*/
.hatena-follow-button {
  font-size:12px;                /*文字の大きさ*/
  border: 0px !important;        /*枠線なし*/
  width: 60px;                  /*ボタンの横幅*/
  height: 20px;                  /*ボタンの縦幅*/
  text-align: center;            /*文字を左右の中心に*/
  vertical-align: middle;        /*文字を上下の中心に*/
  padding: 4px 10px !important;  /*上下に4px 左右に10pxの隙間*/
}
/*読者の人 通常時*/
.hatena-follow-button.subscribing {
  box-shadow: 0 2px 4px rgba(0,0,0,.4);   /*影をつける*/
  background-color:white;                 /*ボタンの色*/
  border: 1.2px solid #a9a9a9 !important; /*薄く枠線を描いてあります*/
}
/*読者の人 マウスを重ねたとき*/
.hatena-follow-button.subscribing.hover {
  width:100px;                  /*調整のためいれてます*/
  top: 2px;                     /*ボタンを下げる*/
  box-shadow: none;             /*影をなくす*/
}
/*読者じゃない人 通常時*/
.hatena-follow-button.unsubscribing {
  color:white !important;                /*文字の色*/
  background: #F57A8F;                   /*ボタンの色*/
  box-shadow: 0 2px 4px rgba(0,0,0,.4);  /*影をつける*/
}
/*読者じゃない人 マウスを重ねたとき*/
.hatena-follow-button.unsubscribing.hover{
  background: #F57A8F;         /*ボタンの色*/
  color : white !important;     /*文字の色*/
  margin-top: 2px;              /*ボタンを下げる*/
  box-shadow: none;             /*影をなくす*/
}
.hatena-follow-button-box .subscription-count-box {
    margin: 0 0 0 6px!important;
    top:-2px;
}
/*読者人数の部分*/
.hatena-follow-button-box .subscription-count {
  height: 26px;
  line-height: 26px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding:1px 10px 1px 10px;
}




/*サイドバーフォローボタン*/
.sidebar-follow-buttons{
    width: 100%;
    text-align: center;
    letter-spacing: -.40em;
}
.sidebar-follow-buttons a {
    display: inline-block;
    letter-spacing: normal;
    position: relative;
    width: 47%;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    padding:6% 0;
    margin:1%;
    overflow: hidden;
    z-index:2;
}
.sidebar-follow-buttons a:hover {
    color:#fff;
    transition: all .3s;
}
.sidebar-follow-buttons a:after {
    position:absolute;
    content:'';
    width:100%;
    height:100%;
    top:-100%;
    left:0;
    z-index:-1;
    transition: 0.2s;
}
.sidebar-follow-buttons .inner-text {
    font-size:16px;
    padding-left:5px;
}
.sidebar-follow-buttons .facebook {
    color: #305097;
    border: 1px solid #305097;
    background: #ffffff;
}
.sidebar-follow-buttons .facebook:hover:after {
    top:0;
    background:#305097;
}
.sidebar-follow-buttons .twitter {
    color: #55acee;
    border: 1px solid #55acee;
    background: #ffffff;
}
.sidebar-follow-buttons .twitter:hover:after {
    top:0;
    background:#55acee;
}
/* はてなはいらない 
.sidebar-follow-buttons .hatena {
    color: #38393C;
    border: 1px solid #38393C;
    background: #ffffff;
}
.sidebar-follow-buttons .hatena:hover:after {
    top:0;
    background:#38393C;
}
.sidebar-follow-buttons .facebook {
    color: #305097;
    border: 1px solid #305097;
    background: #ffffff;
}
*/


/* ページトップへ戻るボタン */
#pagetop {
  position:fixed;
  bottom:45px;
  right:5px;
  padding:6px 6px;
  color: #353535; /* 文字色 */
  text-decoration:none;
  background: linear-gradient(
  -45deg,
  #fff 25%,
  #f4f4ed 25%, #f4f4ed 50%,
  #fff 50%, #fff 75%,
  #f4f4ed 75%, #f4f4ed
  );
  background-size: 4px 4px;
  border: 3px solid #5d5d5d;
  border-radius: 5%;
  opacity: 0.6;
  z-index: 99;
}

/* ページトップへ戻るボタン：ホバー時 */
#pagetop:hover {
    color: #ffffff; /* 文字色 */
    background:#5d5d5d;
}
/* トップページのコメントを非表示に */
.page-index .comment-box {

   display: none;

}




/* 吹き出しのCSS*/
.entry-content .l-fuki,
.entry-content .r-fuki {
	position: relative;
	width: 80%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 20px;
	border-radius: 6px;
	border: 2px solid #999;
	box-shadow: 1px 1px 5px #aaa;
	background-color: #fff;
	z-index: 1;
}
.entry-content .l-fuki {
	margin: 20px 20% 40px 0;
}
.entry-content .r-fuki {
	margin: 20px 0 40px 19%;
}
.entry-content .l-fuki::before,
.entry-content .r-fuki::before {
	position: absolute;
	content: "";
	top: 16px;
	width: 10px;
	height: 10px;
	border-right: 2px solid #999;
	border-bottom: 2px solid #999;
	background-color: #fff;
	z-index: 2;
}
.entry-content .l-fuki::before {
	right: -7px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.entry-content .r-fuki::before {
	left: -7px;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}
.entry-content .l-fuki::after,
.entry-content .r-fuki::after {
	position: absolute;
	content: "";
	width: 80px;
	height: 80px;
	top: -10px;
	border-radius: 40px;
	border: 3px solid #fff;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	box-shadow: 1px 1px 5px #aaa;
}
.entry-content .l-fuki::after {
	right: -110px;
}
.entry-content .r-fuki::after {
	left: -110px;
}
@media screen and (max-width: 620px) {
	.entry-content .l-fuki,
	.entry-content .r-fuki {
		width: 70%
	}
	.entry-content .l-fuki {
		margin-right: 30%;
	}
	.entry-content .r-fuki {
		margin-left: 30%;
	}
}
@media screen and (max-width: 478px) {
	.entry-content .l-fuki::after,
	.entry-content .r-fuki::after {
		width: 60px;
		height: 60px;
		border-radius: 30px;
	}
	.entry-content .l-fuki::after {
		right: -84px;
	}
	.entry-content .r-fuki::after {
		left: -84px;
	}
}
.q_boy::after {background-image:url(https://cdn-ak.f.st-hatena.com/images/fotolife/m/munemakun/20180629/20180629003354.png?1530200179);}
.q_panda::after {background-image:url(https://cdn-ak.f.st-hatena.com/images/fotolife/m/munemakun/20180629/20180629004008_120.jpg?1530200412);}







/*シェアボタン*/
/*share-botton*/
.share-buttons{
    margin-bottom: 10px;
    text-align: center;
}
.share-buttons .inner a {
    position: relative;
    display: inline-block;
    width: 15%;
    height: 45px;
    line-height: 25px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    padding:5px;
}
.share-buttons .inner .share-text{
    font-size: 15px;
}
.share-buttons .inner .hatena-bookmark-button{
    color:#008fde;
    border:1px solid #008fde;
    background: #fff;
}
.share-buttons .inner .hatena-bookmark-button:hover{
    color:#fff;
    background: #008fde;
}
.share-buttons .inner .hatena-bookmark-button:active{
    background: #5478A5;
}
.share-buttons .inner .facebook-button{
    color:#305097;
    border:1px solid #305097;
    background: #fff;
}
.share-buttons .inner .facebook-button:hover{
    color:#fff;
    background: #305097;
}
.share-buttons .inner .facebook-button:active{
    background: #213254;
}
.share-buttons .inner .twitter-button{
    color:#55acee;
    border:1px solid #55acee;
    background: #fff;
}
.share-buttons .inner .twitter-button:hover{
    color:#fff;
    background: #55acee;
}
.share-buttons .inner .twitter-button:active{
    background: #0285b7;
}
.share-buttons .inner .googleplus-button{
    color:#db4a39;
    border:1px solid #db4a39;
    background: #fff;
}
.share-buttons .inner .googleplus-button:hover{
    color:#fff;
    background: #db4a39;
}
.share-buttons .inner .googleplus-button:active{
    background: #a23629;
}
.share-buttons .inner .pocket-button{
    color:#d3505a;
    border:1px solid #d3505a;
    background: #fff;
}
.share-buttons .inner .pocket-button:hover{
    color:#fff;
    background: #d3505a;
}
.share-buttons .inner .pocket-button:active{
    background: #b5392c;
}




 /*ナビゲーションの色*/
.main-navigation,
.main-navigation ul ul {
  background-color: #ffffff;/* 背景色 */
  border-top: 3px solid #000000;/* 上の線 */
  border-bottom: 3px solid #000000;/* 下の線*/
}
main-navigation,
.main-navigation a {
  color: #000000;; /* 文字色 */
  font-size: 14px ;/* 文字の大きさ */
}
.main-navigation a:hover {
    color: #009416; /* マウスオーバー時の文字色 */
}





/* 目次のカスタマイズ */
.entry-content .table-of-contents {
 position:relative;
 border: 3px solid #707070; /* 枠の色はここを変更してください */
 background-color: #FFF; /* 背景カラーです */
 border-radius: 0px 0px 5px 5px;
 margin-top: 3em; /* 各々の環境で数字を調節してください */
}
.table-of-contents:after { /* 目次部分 */
 position: absolute;
 font-family: FontAwesome;
 content: '\f03a 目次'; /* 表示名を変えたければここを変更 */
 background: #707070;
 color: #fff;
 right: 0%;
 left: 0%;
 bottom: 100%;
 border-radius: 5px 5px 0 0;
 padding: 2px 0 2px 0;
 margin: 0 -3px 0 -3px;/* -で指定しているところはborderと同じ数値にする */
 text-align:center;
 font-size: 1.2em;
 letter-spacing: 2em
 }
.table-of-contents li {
 font-size:0.9em;
 font-weight: bold;
 color:#333;
}
.table-of-contents a{
 color:#545454;
 padding:8px 0;/* 列の間隔 */
 display: block;
 text-decoration: none;
 transition-duration: 0.3s /* カーソルが戻る時間 */
}
.table-of-contents li a:hover {
 padding-left: 7px; /* カーソル重ねた時に移動する距離 */
 transition-duration: 0.3s /* カーソルが移動する時間 */
}